<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.myweb.www.domain.MemberVO" alias="memvo"/>
		<typeAlias type="com.myweb.www.domain.ProfileVO" alias="pvo"/>
		<typeAlias type="com.myweb.www.security.AuthVO" alias="authVO"/>
		<typeAlias type="com.myweb.www.domain.CustomPagingVO" alias="cpgvo"/>
		<typeAlias type="com.myweb.www.domain.MediaVO" alias="mvo"/>
		<typeAlias type="com.myweb.www.domain.WatchListVO" alias="wvo"/>
		<typeAlias type="com.myweb.www.domain.GoodsVO" alias="gvo"/>
		<typeAlias type="com.myweb.www.domain.GFileVO" alias="gfvo"/>
		<typeAlias type="com.myweb.www.domain.GoodsDTO" alias="gdto"/>
		<typeAlias type="com.myweb.www.domain.GoodsReviewVO" alias="grvo"/>
		<typeAlias type="com.myweb.www.domain.ReviewVO" alias="rvo"/>
		<typeAlias type="com.myweb.www.domain.CartVO" alias="cvo"/>
		<typeAlias type="com.myweb.www.domain.SeasonVO" alias="svo"/>
		<typeAlias type="com.myweb.www.domain.MediaFileVO" alias="mfvo"/>
		<typeAlias type="com.myweb.www.domain.PagingVO" alias="pgvo"/>
		<typeAlias type="com.myweb.www.domain.CharacterVO" alias="chvo"/>
	</typeAliases>
</configuration>